.form-group
  = f.label :name, class: 'control-label col-sm-2'
  .col-sm-6
    = f.text_field :name, class: 'form-control'
.form-group
  = f.label :drivers, class: 'control-label col-sm-2'
  .col-sm-10
    - @season.drivers.order('name asc').each do |driver|
      .checkbox
        %label{ for: "driver_ids_#{driver.id}" }
          = check_box_tag "driver_ids_#{driver.id}", driver.id, @team.drivers.include?(driver), name: 'team[driver_ids][]'
          = driver.name