%h1.page-header
  = "Seasons for #{link_to @league.name, graphic_path(@graphic)}".html_safe
  - if @graphic.config && @graphic.background
    = link_to "New result", new_graphic_result_path(@graphic), class: 'btn btn-primary pull-right'
  - else
    = link_to "Background or config missing", '#', class: 'btn btn-danger pull-right', disabled: true
%ol.breadcrumb
  %li= link_to "Leagues", graphics_path
  %li.active= @graphic.name
= render 'results_table'
:javascript
  $(".table").tablesorter();
