%h1.page-header
  = "#{@season.series.name} - #{@season.name}"
%h2
  Results
  = link_to "New", new_season_result_path(@season), class: 'btn btn-primary pull-right'
%table.table.table-striped
  %thead
    %tr
      %th #
      %th Track
  %tbody
    - @season.results.each_with_index do |result,i|
      %tr
        %td= i+1
        %td= link_to result.track, result_path(result)
-#%table.table.table-striped.tablesorter
-#  %thead
-#    %tr
-#      %th Name
-#      %th Seasons
-#  %tbody
-#    - @league.series.each_with_index do |series,i|
-#      %tr
-#        %td= link_to series.name, league_series_path(@league,series)
-#        %td= series.seasons.count
:javascript
  $(".table").tablesorter();
