.container
  .col-lg-12
    %h1 Sign in
    .alert.alert-info For testing use: stefano.hug@gmail.com and stefano123 as password.
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-3 control-label'
        .col-sm-8= f.email_field :email, autofocus: true, type: 'email', class: 'form-control'
      .form-group
        = f.label :password, class: 'col-sm-3 control-label'
        .col-sm-8= f.password_field :password, type: 'password', class: 'form-control'
      .form-group
        .col-sm-offset-3.col-sm-10
          = f.submit "Sign in", class: 'btn btn-default'
    = render "devise/shared/links"