%h1.page-header
  Leagues
  = link_to "New league", new_user_league_path(current_user), class: 'btn btn-primary pull-right'
%h2.sub-header Active leagues
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th League name
        %th crawl URL
        %th last updated
        %th has config
        %th has background
        %th actions
    %tbody
      - @leagues.each_with_index do |league,i|
        %tr
          %td= i+1
          %td= link_to league.name, league_path(league)
          %td= league.url
          %td= league.updated_at
          - if league.config.empty?
            %td= link_to "No config", edit_league_path(league), class: 'btn btn-danger'
          - else
            %td.no-problem Config found
          - if league.background.nil?
            %td= link_to "No background", edit_league_path(league), class: 'btn btn-danger'
          - else
            %td.no-problem Background found
          %td= link_to "Standings", league_standings_path(league)
          %td= link_to "Results", league_results_path(league)
          %td= link_to "Edit", edit_league_path(league), class: 'btn btn-primary'