%h1.page-header
  = @league.name
  = link_to "new results", new_league_result_path(@league), class: 'btn btn-primary'
  = link_to "new standings", new_league_standing_path(@league), class: 'btn btn-primary'
  = link_to "Edit", edit_league_path(@league), class: 'btn btn-warning'
%ol.breadcrumb
  %li= link_to "Leagues", leagues_path
  %li.active= @league.name
%h3 Results
= render 'results/results_table'
%h3 Standings
= render 'standings/standings_table'