%h1.page-header= "New point system"
= form_for [@season,@point_system], html: { class: 'form-horizontal' } do |f|
  = render 'shared/form_errors', form_model: @point_system
  = render 'form_fields', f: f
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Create point system', class: 'btn btn-success', disable_with: 'Creating point system. Please wait...'