%table.table.table-striped
  %thead
    %tr
      %th Status
      %th Date generated
      %th Danlisa URL
      %th{ style: 'width: 30%;' }
  %tbody
    - @standings.each_with_index do |standing,i|
      %tr
        - if standing.status == 'ok'
          %td.no-problem= standing.status
        - else
          %td.problem
            %a.status-tooltip{ href: '#', data: { toggle: 'tooltip', original_title: 'Background or config has changed.' } } X
        %td= standing.created_at
        %td= standing.url
        %td
          - if standing.image
            = link_to "Image link", standing.image_public_url, target: '_blank', class: 'btn btn-success'
            = #clippy('https://github.com/mojombo/clippy', '#f9f9f9').html_safe
          = link_to 'Refresh', league_standing_refresh_path(standing.league, standing), remote: true, data: { target: "#myModal", toggle: "modal" }, class: 'btn btn-warning'
          = link_to 'Destroy', league_standing_path(standing.league, standing), confirm: 'Are you sure you want to delete this set of standings irreversibly? The image will be deleted too.', class: 'btn btn-danger', method: :delete
          / Modal
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                  %h4#myModalLabel.modal-title Refreshing standing
                .modal-body
                  %p#spinner Please wait while the image is regenerating.
                  %p#image-status.alert.alert-danger Please don't refresh the page or the process will be interrupted.
