%h1.page-header
  = "Standings for #{link_to @graphic.name, graphic_path(@graphic)}".html_safe
  - if @graphic.config && @graphic.background
    = link_to "New standing", new_graphic_standing_path(@graphic), class: 'btn btn-primary'
  - else
    = link_to "Background or config missing", '#', class: 'btn btn-danger pull-right', disabled: true
%ol.breadcrumb
  %li= link_to "Leagues", graphics_path
  %li.active= @graphic.name
= render 'standings_table'