%h1.page-header
  = "Standings for #{link_to @league.name, league_path(@league)}".html_safe
  - if @league.config && @league.background
    = link_to "New standing", new_league_standing_path(@league), class: 'btn btn-primary'
  - else
    = link_to "Background or config missing", '#', class: 'btn btn-danger pull-right', disabled: true
%ol.breadcrumb
  %li= link_to "Leagues", leagues_path
  %li.active= @league.name
= render 'standings_table'