%h1.page-header= "New standings for #{@graphic.name}"
= form_for [@graphic, @standing], html: { class: 'form-horizontal' } do |f|
  = render 'shared/form_errors', form_model: @standing
  .form-group
    = f.label :url, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :url, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Create standing', class: 'btn btn-success', disable_with: "Generating standings. Please wait..."