%h1.page-header
  = "Round ? of ? - #{@result.track}"
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th Fin
      %th Driver
      %th Tot Pts
      %th Race Pts
      %th Bns Pts
      %th Int
      %th Laps
      %th Laps Led
      %th Fastest Lap
      %th Fast Lap #
      %th Average Lap
      %th Incidents
      %th Status
      %th Team
      %th Admin
  %tbody
    - @result.driver_results.each_with_index do |driver_result|
      %tr
        %td= driver_result.fin_pos
        %td= driver_result.name
        %td= driver_result.total_pts
        %td= @result.season.point_system.pts_for(driver_result.fin_pos)
        %td= driver_result.bns_pts
        %td= driver_result.interval
        %td= driver_result.laps_comp
        %td= driver_result.laps_led
        %td= driver_result.fastest_lap_time
        %td= driver_result.fast_lap_nr
        %td= driver_result.average_lap_time
        %td= driver_result.inc
        %td= driver_result.out
        %td= driver_result.team_name_for_season(@season)
        %td
          - if driver_result.penalties.empty?
            = link_to "Add penalty", new_driver_result_penalty_path(driver_result)
          - else
            = link_to "Edit penalty", edit_driver_result_penalty_path(driver_result,driver_result.penalties.first)
          = link_to "Bonus points", edit_driver_result_path(driver_result)

%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th Team name
      %th Tot pts
      %th Bns pts
      %th Laps
      %th Laps led
      %th Inc
  %tbody
    - @result.team_results.each do |team_result|
      - if team_result.team
        %tr
          %td.h3= team_result.team.name
          %td= team_result.race_pts
          %td= team_result.bns_pts
          %td= team_result.laps_comp
          %td= team_result.inc
        - team_result.drivers.each do |driver|
          %tr
            %td= driver.name
            %td= @result.result_for_driver(driver).total_pts
            %td= @result.result_for_driver(driver).bns_pts.to_i
            %td= @result.result_for_driver(driver).laps_comp
            %td= @result.result_for_driver(driver).laps_led
            %td= @result.result_for_driver(driver).inc