%h1.page-header= "Give penalty to #{@penalty.driver.name}"
= form_for [@driver_result,@penalty], html: { class: 'form-horizontal', multipart: true } do |f|
  = render 'shared/form_errors', form_model: @penalty
  .form-group
    = f.label :time, class: 'control-label col-sm-2'
    .col-sm-10
      - Penalty::PENALTY_STRINGS.each do |penalty|
        .checkbox
          %label{ for: penalty[0] }
            = penalty[1]
            = check_box_tag penalty[0], @penalty.send(penalty[0]), @penalty.send(penalty[0]), name: "penalty[#{penalty[0]}]"
      -#  .checkbox
      -#    %label{ for: penalty[0] }
      -#      = check_box_tag penalty[0], @penalty.send(penalty[0]), @penalty.send(penalty[0]), name: "penalty[#{penalty[0]}]"
      -#      = penalty[1]
      -#= f.text_field :time, class: 'form-control'
  .form-group
    = f.label :disqualification, class: 'control-label col-sm-2'
    .col-sm-10
      .checkbox
        %label{ for: "disqualification" }
          = check_box_tag "disqualification", @penalty.disqualification, @penalty.disqualification, name: 'penalty[disqualification]'
          Disqualify
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Create results', class: 'btn btn-success', disable_with: 'Creating results. Please wait...'