%tr
  %td= driver.pos
  %td= driver.name
  %td= driver.team
  %td= driver.starts
  %td= driver.wins
  %td= driver.top5
  %td= driver.top10
  %td= driver.tot_pts
  %td= driver.bns_pts
  %td= driver.laps
  %td= driver.beh_lead
  %td= driver.beh_next
