%h1.page-header= "New series for #{@league.name}"
= form_for [@league,@series], html: { class: 'form-horizontal' } do |f|
  = render 'shared/form_errors', form_model: @series
  .form-group
    = f.label :name, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Create series', class: 'btn btn-success', disable_with: "Creating series. Please wait..."