%html{lang: "en"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Dashboard Template for Bootstrap
  %body{ class: "#{params[:controller]} #{params[:action]}"}
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "#" } Scores alpha
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to "Leagues", leagues_path
            %li= link_to "Profile", '#'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Log out", destroy_user_session_path, method: :delete
    .container-fluid
      .row
        - if current_user
          .col-sm-3.col-md-2.sidebar
            %ul.nav.nav-sidebar.leagues-navi
              %li= link_to "All leagues".html_safe, leagues_path
              %li.new= link_to "New league".html_safe, new_league_path
              - current_user.leagues.each do |league|
                %li.nav-divider
                - if league_displayed?(league)
                  %li.active= link_to league.name, league_path(league)
                  %li.edit= link_to "Edit #{league.name}", edit_league_path(league)
                  %li.new= link_to "New results", new_league_result_path(league)
                  %li.new= link_to "New standing", new_league_standing_path(league)
                  %li= link_to "Results", league_results_path(league)
                  %li= link_to "Standings", league_standings_path(league)
                - else
                  %li= link_to league.name, league_path(league)
              -#  = active_link_to "<span class='glyphicon glyphicon-th-list'></span> All Leagues".html_safe, leagues_path, wrap_tag: :li
            -#
            -#  = active_link_to "<span class='glyphicon glyphicon-th-list'></span> New league".html_safe, leagues_path, wrap_tag: :li
            -#- if params[:controller] == 'leagues' && params[:action] == 'index'
            -#  - @leagues.each do |league|
            -#    %li.nav-divider
            -#    %ul.nav.nav-sidebar= active_link_to league.name, league_path(league), wrap_tag: :li
            -#- if params[:controller] == 'leagues' && params[:action] == 'show' || params[:controller] == 'results' || params[:controller] == 'standings'
            -#  %ul.nav.nav-sidebar
            -#    %li.active= link_to @league.name, league_path(@league)
            -#  %ul.nav.nav-sidebar
            -#    = active_link_to 'Results', league_results_path(@league), wrap_tag: :li
            -#    = active_link_to 'Standings', league_standings_path(@league) , wrap_tag: :li
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
