%html{lang: "en"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Dashboard Template for Bootstrap
  %body{ class: "#{params[:controller]} #{params[:action]}"}
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "#" } Scores alpha
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to "League: BTCC", graphics_path
            %li= link_to "All leagues", graphics_path
            %li= link_to "Profile", '#'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Results", league_series_season_path(current_season.league,current_season.series,current_season)
            %li= link_to "Standings", league_series_season_path(current_season.league,current_season.series,current_season)
            %li= link_to "config/background", edit_league_series_season_path(current_season.league,current_season.series,current_season)
            %li= link_to "point system", edit_point_system_path(current_season.point_system)
            %li= link_to "Teams", season_teams_path(current_season)
            -#%li= link_to "New standings", new_league_series_season_standing_path(@league,@series,@season), class: 'btn btn-primary'
            %li= link_to "Log out", destroy_user_session_path, method: :delete
    .container-fluid
      .row
        .col-sm-12
          %ol.breadcrumb
            = breadcrumbs
      .row
        .col-sm-12.main
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield
